# Compiled Object files
*.slo
*.lo
*.o
main

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Files Generated When Compiling
*.gch
*.swp
*.swo
*.swn
.*.swn

# Needed Files, But Can't Share
*.dll
*.ttf

# Files For Testing
*.bmp
*.out
*.txt
